
.page{
 height:100vh;
 width:100%;
 border:solid 2px black;
}

.qsn{
 width:100%;
 height: 40px;
  text-align:center;
  border:solid 1px grey;
  padding-top: 30px;
}

.inp{
  height:20px;
  width:100%;
  border:solid 1px grey;
}